/* navigation bar */
ul{
    list-style-type: none;
    width: 20vw;
    padding: 0;
    position:fixed;
    margin-left:80vw;
    margin-top: 12vh;
    z-index: 1;
}
li{
    height: 20%;
    padding: 0;
    margin-bottom: 5%;
    z-index: 1;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

#galaxyB:hover{
    filter: brightness(1.2);
}
#solarB:hover{
    filter: brightness(1.2);
}
#earthB:hover{
    filter: brightness(1.2);
}
#navB:hover{
    filter: brightness(1.2);
}
#galaxyB:active{
    filter: brightness(0.7);
}
#solarB:active{
    filter: brightness(0.7);
}
#earthB:active{
    filter: brightness(0.7);
}
#navB:active{
    filter: brightness(0.7);
}
#docB{
    filter: brightness(0.7);
}


/* content */

body{
    background-color: black;
    overflow: hidden;
    margin: 0;
}

#universe_model{
    width: 110vw;
    margin-left: -5vw;
    margin-top: 50vh;
    position: absolute;
}

h1{
    position: absolute;
    font-size: 4em;
    font-family: Myriad Pro;
    font-weight: lighter;
    color: white;
    margin-top: 86vh;
}

#bb{
    margin-left: 2vw;
}
#uni{
    margin-left: 24vw;
    margin-top: 66vh;
}
#sing{
    margin-left: 50vw;
}

div{
    color: white;
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;
}

h2{
    font-size: 3em;
}
p{
    font-size: 1.5em;
}