/* navigation bar */
ul{
    list-style-type: none;
    width: 20vw;
    padding: 0;
    position:fixed;
    margin-left:80vw;
    margin-top: 12vh;
    z-index: 10;
}
li{
    height: 20%;
    padding: 0;
    margin-bottom: 5%;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

#docB:hover{
    filter: brightness(1.2);
}
#galaxyB:hover{
    filter: brightness(1.2);
}
#solarB:hover{
   filter: brightness(1.2);
}
#navB:hover{
    filter: brightness(1.2);
}
#docB:active{
    filter: brightness(0.7);
}
#galaxyB:active{
    filter: brightness(0.7);
}
#solarB:active{
    filter: brightness(0.7);
}
#navB:active{
    filter: brightness(0.7);
}
#earthB{
    filter: brightness(0.7);
}



/* content */

body{
    background-color: black;
    overflow: hidden;
    margin: 0;
}
body>div{
    position: fixed;
    overflow: visible;
    width: 1px;
    height: 1px;
}


#earth{
    margin-left: 50vw;
    margin-top: 60vh;
    z-index: 2;
}
#earth>img{
    width: 120vw;
    margin-left: -60vw;
    animation: spin 50s linear infinite;
}

#stars{
    z-index: 1;
}
#stars>img{
    width:100vw;
    opacity: 0;
}

#moon{
    position: relative;
    transform: translate(60vw,120vh);
    z-index: 1;
}
#moon>img{
    width:10vw;
}

#sun{
    position: relative;
    transform: translate(10vw,10vh);
    z-index: 1;
}
#sun>img{
    width: 15vw;
}

#day>img{
    transform: translate(-40%,0);
    width: 170vw;
    height:100vh;
}

h1{
    position: absolute;
    font-size: 4.2vw;
    font-family: Myriad Pro;
    font-weight: lighter;
    z-index: 2;
    pointer-events: none;
}
#earth>h1{
    transform: translate(-50%,-15%);
}
#sun>h1{
    transform: translate(60%,15%);
}
#moon>h1{
    font-size: 3vw;
    transform: translate(18%,30%);
}
#day>h1, #stars>h1{
    margin-left:45vw;
    transform: translate(-50%,-15%);
}
#stars>h1{
    color: white;
    opacity: 0;
}

/* animation */

@keyframes spin { 
    100% { transform:rotate(-360deg); }
}
