/* navigation bar */
ul{
    list-style-type: none;
    width: 20vw;
    padding: 0;
    position:fixed;
    margin-left:80vw;
    margin-top: 12vh;
    z-index: 1;
}
li{
    height: 20%;
    padding: 0;
    margin-bottom: 5%;
    z-index: 1;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

#docB:hover{
    content: url(Assets/Buttons/Doc_H.svg);
}
#galaxyB:hover{
    content: url(Assets/Buttons/Galaxy_H.svg);
}
#solarB:hover{
    content: url(Assets/Buttons/Solar_H.svg);
}
#earthB:hover{
    content: url(Assets/Buttons/Earth_H.svg);
}
#navB:hover{
    content: url(Assets/Buttons/Nav_H.svg);
}
#docB:active{
    content: url(Assets/Buttons/Doc_A.svg);
}
#galaxyB:active{
    content: url(Assets/Buttons/Galaxy_A.svg);
}
#solarB:active{
    content: url(Assets/Buttons/Solar_A.svg);
}
#earthB:active{
    content: url(Assets/Buttons/Earth_A.svg);
}
#navB:active{
    content: url(Assets/Buttons/Nav_A.svg);
}


/* content */

body{
    background-color: black;
    overflow: hidden;
    margin: 0;
}
body>div{
    position: fixed;
    overflow: visible;
    width: 1px;
    height: 1px;
}


#earth{
    margin-left: 50vw;
    margin-top: 60vh;
    z-index: 2;
}
#earth>img{
    width: 120vw;
    transform: translate(-50%,0);
}

#stars{
    z-index: 1;
}
#stars>img{
    width:100vw;
}

#moon{
    margin-top: 20vh;
    margin-left: 65vw;
    z-index: 1;
}
#moon>img{
    width:10vw;
}

#sun{
    margin-top: 10vh;
    margin-left:10vw;
    z-index: 1;
}
#sun>img{
    width: 15vw;
}

#day>img{
    transform: translate(-40%,0);
    width: 170vw;
    height:100vh;
}